

<%- include('../partials/head', {title: 'Välkommen'} ); %>

<div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">

    <h1> Username = <%= name %> </span></h1>
    
    <h1> Email = <%= email %> </span></h1>
</div>



<%- include('../partials/footer'); %>
